XENDIT_SECRET_KEY=xnd_development_2zbMRsVlkvsznGhVQYHTyBabX2IMIzCztYuLETQpdgksGaE0V6VZFITxiSipCpkD
XENDIT_WEBHOOK_TOKEN=NDiy9uWiyaY77nGxabSb0oft1AGTSsB2V5XMCfpCeZZOvSgL
BASE_URL=https://gary-ruled-labels-oval.trycloudflare.com 
PORT=8787

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=payqr
DB_USER=payqr_user
DB_PASS=YourStrongPass123!